.search__title {
  margin-bottom: 30px;
  margin-left: 127px;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  font-weight: 200;
  color: #2f2f2f;
}
.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search__container__icon {
  position: relative;
  top: 55px;
  right: 435px;
  color: #969b9d;
  font-size: 30px;
  z-index: 1;
}
.search__form {
  display: flex;
  margin-bottom: 30px;
}
.search__input {
  display: block;
  width: 740px;
  height: 80px;
  padding: 1px 220px 1px 70px;
  font-size: 25px;
  background-color: #ffff;
  border: none;
}
.search__btn {
  width: 200px;
  height: 80px;
  padding: 0 20px;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: left;
  background: #1eb7ee;
  color: #fff;
  border: none;
  border-radius: 0 80px 0 0;
  cursor: pointer;
}

.table {
  display: flex;
  justify-content: center;
}
.table__container {
  flex: 1;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.table__container__head {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #95989a;
}
.table__container__head__box {
  height: 70px;
}
.table__container__head__item {
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.table__container__body__box {
  height: 70px;
  padding: 0;
}
.table__container__body__box:nth-child(odd) {
  background-color: rgba(0, 102, 135, 0.1);
}
.table__container__body__box__terminal {
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border: 0;
}

.flight {
  padding: 16px 10px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
  list-style-type: none;
  background-color: rgba(0, 102, 135, 0.1);
}
.flight__terminal_green {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  border: 1px solid #63c745;
  border-radius: 50%;
  color: #63c745;
}
.flight__terminal_blue {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  border: 1px solid #1eb7ee;
  border-radius: 50%;
  color: #1eb7ee;
}
.flight__destination {
  padding: 16px 10px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
}
.flight__local-time {
  padding: 16px 10px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
}
.flight__status {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
}
.flight__airline {
  margin-right: 5px;
  height: 40px;
  text-align: center;
}
.flight__airline-logo {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 38px;
}
.flight__airline-flight {
  display: block;
  height: 40px;
  line-height: 40px;
}

.noFlight-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.flight__btn {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.flight__btn-departures {
  width: 582px;
  height: 60px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background: #1eb7ee;
  color: #fff;
  border-radius: 80px 0 0;
  border: 0;
  cursor: pointer;
}

.flight__btn-arrivals {
  width: 582px;
  height: 60px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background: #1eb7ee;
  color: #fff;
  border-radius: 0 80px 0 0;
  border: 0;
  cursor: pointer;
}

.flight__btn-departures-click {
  width: 582px;
  height: 60px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background: #fff;
  color: #1eb7ee;
  border-radius: 80px 0 0;
  border: 0;
  cursor: pointer;
}

.flight__btn-arrivals-click {
  width: 582px;
  height: 60px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background: #fff;
  color: #1eb7ee;
  border-radius: 0 80px 0 0;
  border: 0;
  cursor: pointer;
}

.flight__btn__icon {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: #e7efec;
}

/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=index.css.map */
